{% extends "base.html" %} {% block title %}Fitly: Fitness Workout Generator{% endblock %}

{% block content %}

<div class="text-center mt-4">
    <h1>Welcome to FITLY</h1>
    <h5>Fitness Workout Generator</h5>
    <br>
    <h3>How would you like to workout today?</h3>
    <br>
</div>

<form action="/results/" method="POST">
    <div class="form-group">
        <label for="muscle-group">Select the muscle group that you would like to work out</label>
        <select class="custom-select" name="muscle-group" id="muscle-group">
            <option value="back">
                Back
            </option>
            <option value="upper legs">
                Legs
            </option>
            <option value="waist">
                Abs
            </option>
            <option value="upper arms">
                Arms
            </option>
            <option value="shoulders">
                Shoulders
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="workout-location">Would you like to workout at home or in the gym?</label>
        <select class="custom-select" name="workout-location" id="workout-location">
            <option value="home">At home</option>
            <option value="gym">In the gym</option>
        </select>
    </div>

    <div class="buttons">
        <button class="btn btn-success" type="submit" name="submit-button" value="personalised-youtube">
            <strong>Option 1:</strong> Get a personalised YouTube workout video
        </button>
    </div>

    <div class="buttons">
        <button class="btn btn-success" type="submit" name="submit-button" value="written">
            <strong>Option 2:</strong> Get a personalised written workout guide
        </button>
    </div>

    <div class="buttons">
        <button class="btn btn-success" type="submit" name="submit-button" value="random-youtube">
            <strong>Option 3:</strong> Still unsure what to workout? Get a random YouTube workout video!
        </button>
    </div>

</form>

{% endblock %}
