{% extends "base.html" %} {% block title %}Fitly{% endblock %}

{% block content %}
{% extends "base.html" %}
{% block title %}Fitly{% endblock %}

{% block content %}
<div class="text-center mt-4">
    <h1>Welcome to Fitly</h1>
    <h5>The fitness workout generator</h5>
    <br>
    <h3>Let's choose our workout for today</h3>
    <br>
</div>

<form action="/results/" method="post">
    <div class="form-group">
        <label for="muscle-group">What muscle group would you like to work out?</label>
        <select class="custom-select" name="muscle-group" id="muscle-group">
            <option value="back">
                Back
            </option>
            <option value="upper legs">
                Legs
            </option>
            <option value="waist">
                Abs
            </option>
            <option value="upper arms">
                Arms
            </option>
            <option value="shoulders">
                Shoulders
            </option>
        </select>
    </div>

    <div class="mt-4">
        <p>Would you like an at home workout or a gym workout?</p>
        <select class="custom-select" name="workout-location" id="workout-location">
            <option value="home">At home</option>
            <option value="gym">In the gym</option>
        </select>
    </div>
    <div class="mt-4">
        <button class="btn btn-success" type="submit" name="submit-button" value="personalised-youtube">
            Get your personalised YouTube workout!
        </button>
    </div>

    <div class="mt-4">
        <button class="btn btn-info" type="submit" name="submit-button" value="random-youtube">
            Get a random YouTube workout!
        </button>
    </div>
    <div class="mt-4">
        <button type="submit" name="submit-button" value="written" class="btn btn-info">
            Get a personalised written workout!
        </button>
    </div>
</form>

{% endblock %}
