{% extends "base.html" %} {% block title %}Profile{% endblock %}

{% block content %}
    <div class="Profile">
        <h1>Welcome To Your Dashboard</h1>
            <h3>Here are your recent YouTube Workouts</h3>
        <br>

        {% for item in data%}
            {% if item is none %}
                <p> No workout history yet!</p>
            {% endif %}
            {% if item[0] and item[1] and item[2] %}
                <h3> Personalised workout:</h3>
                {% for url in item %}
                    <div class="personalised-workout" style="display: inline-block; padding-right:5px;">
                        <iframe width="360" height="200" src="{{url}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                {% endfor %}
            {% else %}
                <h3> Random workout:</h3>
                <div class="random-workout">
                    <iframe width="360" height="200" src="{{item[0]}}" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}


        {% endfor %}
    </div>
{% endblock %}
