*{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue;
}


body {
    margin: 0;
    height: 0;
    background-color: #ffffff;
}

h1{
    color: #ffffff
}

.quiz-background {
    margin-top: -30%
}

.btn-success {
  background-color: teal;
  color: white;
  border: 2px solid white;
}

.btn-success:hover {
    background-color: #474242
}

.btn-info {
  background-color: teal;
  color: white;
  border: 2px solid white;
}

.btn-info:hover {
    background-color: #474242
}

.bg-image {
    background-size: auto;
    opacity: 0.8;
    padding: 30em;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url(../images/homepage_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logout {
    margin-left: 160px;
    margin-top: -20px;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.18);
    border-radius: 10px;
    color: black;
    font-family: Helvetica Neue;
    font-size: 40px;
    width: 580px;
    text-align: center;
}

.btn-logout {
    background-color: teal;
    border: 2px solid white;
}

.btn-logout:hover {
    background-color: #474242
}

#loginhere {
    background-color: #fff;
    background-color: rgba(255,255,255,0.18);
    border-radius: 10px;
    color: black;
}

.btn-login {
    background-color: teal;
    border: 2px solid white;
}

.btn-login:hover {
    background-color: #474242
}

#signup{
    background-color: #fff;
    background-color: rgba(255,255,255,0.18);
    border-radius: 10px;
    color: black;
}

.btn-signup {
    background-color: teal;
    border: 2px solid white;
}

.btn-signup:hover {
    background-color: #474242
}

.form-group {
    color: black;
}

